<mat-toolbar color="accent">
  <span>Manav Pandya - C#Corner</span>
  <span class="demo-toolbar"></span>
</mat-toolbar>
<mat-card>
  <!-- <div id="login" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  </div> -->
  <div class="container">
    <div class="row" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false"
    style="height: 400px; overflow-y: scroll;">
      <div *ngFor="let item of myPhotosList" class="col-md-4" style="margin-top: 10px;">
        <img style="height: 220px;width: 315px;" src="{{item.url}}" />
      </div>
    </div>
  </div>
</mat-card>